langchain
langchain-groq
groq
chromadb
tiktoken
gitpython
python-dotenv
langchain-text-splitters
pyyaml
typer
fastapi
starlette
shutil
pygments
rich
langchain_ollama
langchain_community
python-multipart
langchain_chroma